@import 'src/styles/mixins';
@import 'src/styles/variables';

.project-info {
	@include flex-column;
	padding: $main-padding;
	gap: 1rem;

	&__heading {
		font-size: 1.6rem;
	}

	&__list-header {
		padding-top: 2rem;
		font-weight: $fw-medium;
	}

	&__section-title {
		padding-bottom: 0.5rem;
	}
}
