@use 'sass:color';
@import 'src/styles/variables';
@import 'src/styles/mixins';

.error-message {
	color: $warning;
	font-size: $fz-small;
}

.label {
	@include flex-column;
	gap: 0.25rem;
	align-items: start;

	&__text {
		font-size: $fz-medium;
	}

	&--error {
		border-color: $warning;
	}
}

.input {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid $grey100;
	color: $grey10;
	background: $grey90;
	border-radius: $border2;
	line-height: 1.5;
	transition:
		background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
		transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);

	&--error {
		border-color: $warning;
	}

	&::placeholder {
		color: inherit;
		opacity: 1;
		font-size: $fz-small;
	}

	&:focus {
		background: lighten($grey90, 1%);
		transform: scale(1.02);
	}
}
