@import 'src/styles/variables';

body {
	background-color: $main-bg-color;
	font-family: 'Roboto', sans-serif;
	color: $grey10;
}

html,
body,
#root {
	height: 100%;
}

ul {
	li {
		color: inherit;
	}
	li:nth-child(even) {
		color: $danger;
	}
}
